
/* Primary title of any entity (like user's, group's picture or content preview thumb and name) */

.oae-clip {
  background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(68,68,68,1) 25%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,85,85,1)), color-stop(25%,rgba(68,68,68,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(68,68,68,1) 25%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(68,68,68,1) 25%,rgba(0,0,0,1) 100%); /* W3C */
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.oae-clip h1 {
  color: #fff;
  font-size: 16rem;
  font-weight: 600;
  padding-top: 5px;
  text-shadow: 0 1px 0 #000000;
  margin: 0 15px 15px 10px;
  padding: 0;
}

.oae-clip h1 a {
  color: #dbdbdb;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-shadow: 0 1px rgba(0, 0, 0, 1);
}

.oae-clip h1 a:hover {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.oae-clip h1 a:active {
  color: #000;
}

/* This is the down arrow for title clips that are managed by the user  */

.oae-clip .caret {
  margin: 18px 000 0 10px;
  border-top: 7px solid #dbdbdb;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  text-shadow: 0 1px 0 #000;
  content: "";
}

.oae-clip .caret:hover {
  border-top: 7px solid #fff;
}

.oae-clip .caret:active {
  border-top: 7px solid #000;
}

/* These are the global styles when a title clip has supporting text, 
like when a user displays qualifications, or labeling a group, content item or collection  */

.oae-clip small {
  color: #999;
  font-size: 12rem;
  margin-left: 5px;
  display: block;
  margin-top: -7px;
}

.oae-clip#oae-double-line h1 a {
  margin-left: 5px;
  padding-bottom: 3px;
}

/* These are the global styles when a user opens a clip with a down arrow */

.oae-clip-open button {
  margin: 10px 10px 0 0;
}

.oae-clip-open ul i {
  width: 100%;
  text-align: center;
}

.oae-clip-open ul {
  clear: left;  
  font-size: 11rem;
  font-weight: 600;
  list-style: none;
  min-width: 220px;
  margin: 5px;
}

.oae-clip-open li {
  margin: 0 5px 15px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #000000;
}

.oae-clip-open li:hover {
  background-color: #000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.oae-clip-open li a {
  color: #dbdbdb;
  display: block;
  padding: 10px 0 5px 0;
  text-shadow: 0 1px 0 #000000;
  width: 100%;
}

.oae-clip-open li a:hover {
  color: #fff; 
  border-radius: 6px;
  text-decoration: none;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 1.0);
}

/* These are the clip hooks that make the clips look like they are clipped to the page */

.oae-clip-right {
  background: url("../images/clip-title-hook-right.png") no-repeat 0 0 transparent;
  background-size: 75%;
  float: right;
  height: 14px;
  left: -11px;
  margin-right: -11px;
  width: 12px;
  top: 50%;
}

.oae-clip-left {
  background: url("../images/clip-title-hook-left.png") no-repeat 0 0 transparent;
  background-size: 75%;
  float: left;
  height: 14px;
  left: -11px;
  margin-left: -8px;
  width: 12px;
  top: 50%;
}

.oae-clip.oae-clip-action.oae-clip-branded {
  background: rgb(37,169,223); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(37,169,223,1) 0%, rgba(0,116,167,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,169,223,1)), color-stop(100%,rgba(0,116,167,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(37,169,223,1) 0%,rgba(0,116,167,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(37,169,223,1) 0%,rgba(0,116,167,1) 100%); /* W3C */
}

.oae-clip-left-branded {
  background: url("../images/clip-title-hook-left-branded.png") no-repeat 0 0 transparent;
  background-size: 75%;
  float: left;
  height: 14px;
  left: -11px;
  margin-left: -8px;
  width: 12px;
  top: 50%;
}

/* Title clips are located on the left of the interface and are used for entities like 
a user's name and picture, content and preview or a group and it's profile picture */

.oae-clip-title {
  margin: -8px 0 0 20px;
  min-width: 100px;
  position: absolute;
  border-radius: 6px 0 6px 6px;
}

/* Action clips are located on the right of the interface and these are the styles that relate to all  */

.oae-clip-action {
  margin: -8px 0 0 20px;
  float: right;
  border-radius: 0 6px 6px 6px;
}

.oae-clip-action h1 {
    margin: 0 10px 0 10px;
}

.oae-clip-action h1 a {
  margin: 0;
  padding: 0;
  line-height: 3;
  
}

.oae-clip-action i {
  margin: 13px 0 0 0;
  padding: 0;
}

.oae-clip-action button {
  background: none;
  border: none;
}

.oae-clip-action .caret {
  margin: 0;
  padding: 0;
}

.oae-action-title {
  margin-top: 5px;
}































