
/* Styles for all overlays */

.oae-modal-span12 {
	width: 90%;
	margin-left: -45%;
}

.oae-modal {
    width: auto;
    display: block;
}

.oae-modal .modal-body {
	width: auto;
	display: block;
	clear: left;
}

.oae-list-options {
	border: none;
	background: none;
	width: 100%;
	line-height: none;
	font-size: 18rem;
	color: #ccc;
}

.oae-list-options:hover {
	color: #333;
	-moz-box-shadow: inset 0px 3px 6px #efefef;
    -webkit-box-shadow: inset 0px 3px 6px #efefef;
    box-shadow: inset 0px 3px 6px #efefef;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.oae-drag-modal {
	border: none;
	background: none;
	line-height: none;
	font-size: 20rem;
	color: #ccc;
	margin: 15px -8px -15px 20px;
	padding: 0;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	cursor: move;
}

.oae-drag-modal:hover {
	color: #333;
}

.oae-modal-well {
	background: #efefef;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0px 0px 3px #888;
    -webkit-box-shadow: inset 0px 0px 3px #888;
    box-shadow: inset 0px 0px 3px #888;
    padding: 10px;
	margin: 0 15px 20px 15px;
}

.oae-modal .modal-footer .btn-link {
	margin-left: -10px;
}


