
/** These are styles that are unique to user clips **/

/** Option 2: Embedded dropdown **/
/** Dropdown that list of tasks directly related to your role as the manager of this collection **/


.oae-clip-open-collection .oae-visibility {
  background: url("../images/icon-visibility-lock-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-visibility:hover {
  background: url("../images/icon-visibility-lock-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-visibility:active {
  background: url("../images/icon-visibility-lock-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-sharing {
  background: url("../images/icon-edit-sharing-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-sharing:hover {
  background: url("../images/icon-edit-sharing-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-sharing:active {
  background: url("../images/icon-edit-sharing-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-upload {
  background: url("../images/icon-upload-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-upload:hover {
  background: url("../images/icon-upload-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-upload:active {
  background: url("../images/icon-upload-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-create {
  background: url("../images/icon-create-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-create:hover {
  background: url("../images/icon-create-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-create:active {
  background: url("../images/icon-create-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-edit {
  background: url("../images/icon-edit-details-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-edit:hover {
  background: url("../images/icon-edit-details-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-edit:active {
  background: url("../images/icon-edit-details-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-delete {
  background: url("../images/icon-delete-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-delete:hover {
  background: url("../images/icon-delete-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-collection .oae-delete:active {
  background: url("../images/icon-delete-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}