
/** These are styles that are unique to content clips **/

/** Option 2: Embedded dropdown **/
/** Dropdown that list of tasks and features directly related to your role as the manager of this content **/


.oae-clip-open-content .oae-visibility {
  background: url("../images/icon-visibility-lock-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-visibility:hover {
  background: url("../images/icon-visibility-lock-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-visibility:active {
  background: url("../images/icon-visibility-lock-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-sharing {
  background: url("../images/icon-edit-sharing-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-sharing:hover {
  background: url("../images/icon-edit-sharing-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-sharing:active {
  background: url("../images/icon-edit-sharing-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-upload {
  background: url("../images/icon-upload-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-upload:hover {
  background: url("../images/icon-upload-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-upload:active {
  background: url("../images/icon-upload-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-revisions {
  background: url("../images/icon-revisions-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-revisions:hover {
  background: url("../images/icon-revisions-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-revisions:active {
  background: url("../images/icon-revisions-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-edit {
  background: url("../images/icon-edit-details-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-edit:hover {
  background: url("../images/icon-edit-details-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-edit:active {
  background: url("../images/icon-edit-details-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-delete {
  background: url("../images/icon-delete-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-delete:hover {
  background: url("../images/icon-delete-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-content .oae-delete:active {
  background: url("../images/icon-delete-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}