
/** These are styles that are unique to Upload clip**/

.oae-upload-clip h1 {
  background: url("../images/clip-button-icon-upload.png") no-repeat top left transparent;  
}

.oae-upload-clip h1:hover {
  background: url("../images/clip-button-icon-upload-hover.png") no-repeat top left transparent;
}

.oae-upload-clip h1:active {
  background: url("../images/clip-button-icon-upload-clicked.png") no-repeat top left transparent;
}


/** These are styles that are unique to the Create clip**/

.oae-create-clip h1,
.oae-create-clip-open h1 {
  background: url("../images/clip-button-icon-add.png") no-repeat top left transparent;
}

.oae-create-clip h1:hover,
.oae-create-clip-open h1:hover {
    background: url("../images/clip-button-icon-add-hover.png") no-repeat top left transparent;
}

.oae-create-clip h1:active,
.oae-create-clip-open h1:active {
    background: url("../images/clip-button-icon-add-clicked.png") no-repeat top left transparent;
}


/** Dropdown with all the icons that list each type of entity you can create **/

.oae-create-clip-open ul {
    clear: left;  
    list-style: none;
    font-size: 11rem;
    color: #dbdbdb;
    font-weight: 600;
    padding: 37px 5px 15px 15px;
    margin: 0 0 20px 0;
    min-width: 220px;
}

.oae-create-clip-open li {
    float: left;
    margin-right: 10px; 
} 

.oae-create-clip-open li a {
    color: #dbdbdb;
    padding: 40px 10px 5px 10px;
}  

.oae-create-clip-open li a:hover {
    color: #999;
    text-decoration: none;
} 

.oae-create-clip-open li a:active {
    color: #666;
} 

.oae-create-clip-open li a:hover {
  border-radius: 6px;
}

.oae-create-clip-open .oae-document {
  background: url("../images/icon-document.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-document:hover {
  background: url("../images/icon-user-edit-white-hover.png") no-repeat center 5px #000;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-document:active {
  background: url("../images/icon-user-edit-white-active.png") no-repeat center 5px #222;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-group {
  background: url("../images/icon-messages-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-group:hover {
  background: url("../images/icon-messages-white-hover.png") no-repeat center 5px #000;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-group:active {
  background: url("../images/icon-messages-white-active.png") no-repeat center 5px #222;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-collection {
  background: url("../images/icon-user-settings-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-collection:hover {
  background: url("../images/icon-user-settings-white-hover.png") no-repeat center 5px #000;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-collection:active {
  background: url("../images/icon-user-settings-white-active.png") no-repeat center 5px #222;
  background-size: 40px 40px;
}
.oae-create-clip-open .oae-discussion {
  background: url("../images/icon-user-settings-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-discussion:hover {
  background: url("../images/icon-user-settings-white-hover.png") no-repeat center 5px #000;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-discussion:active {
  background: url("../images/icon-user-settings-white-active.png") no-repeat center 5px #222;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-bookmark {
  background: url("../images/icon-user-settings-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-bookmark:hover {
  background: url("../images/icon-user-settings-white-hover.png") no-repeat center 5px #000;
  background-size: 40px 40px;
}

.oae-create-clip-open .oae-bookmark:active {
  background: url("../images/icon-user-settings-white-active.png") no-repeat center 5px #222;
  background-size: 40px 40px;
}
