
/** These are styles that are unique to group clips **/

/** Option 2: Embedded dropdown **/
/** Dropdown that list of tasks directly related to your role as the manager of this group **/

.oae-clip-open-group .oae-visibility {
  background: url("../images/icon-visibility-lock-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-visibility:hover {
  background: url("../images/icon-visibility-lock-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-visibility:active {
  background: url("../images/icon-visibility-lock-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-edit {
  background: url("../images/icon-edit-details-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-edit:hover {
  background: url("../images/icon-edit-details-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-edit:active {
  background: url("../images/icon-edit-details-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-delete {
  background: url("../images/icon-delete-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-delete:hover {
  background: url("../images/icon-delete-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-group .oae-delete:active {
  background: url("../images/icon-delete-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}