

.oae-modal-upload {
	width: auto;
}

.oae-modal-upload .modal-body {
	overflow: visible;
	width: auto;
}

.oae-modal-upload .modal-body {
	overflow: visible;
}

.oae-modal-upload .modal-body button {
	margin-left: 10px;
}

.oae-modal-upload .modal-footer {
	clear: left;
}








