

/* Styles for all overlays */

.oae-modal-span12 {
	width: 90%;
	margin-left: -45%;
}

.oae-modal {
    width: auto;
    display: block;
}

.oae-modal li {
	background-color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    box-shadow: 0 0 6px #888888;
    clear: left;
	text-align: center;
	margin: 10px;
}

.oae-modal li:hover {
	background-color: #a1d3df;
	-moz-box-shadow: 0px 0px 6px #024a6a;
    -webkit-box-shadow: 0px 0px 6px #024a6a;
    box-shadow: inset 0 0 6px #024a6a;
    text-shadow: 0 1px #bee8f3;
}

.oae-modal i {
    display: block;
}

.oae-modal li a {
	color: #333;
    float: left;
	text-align: center;
}

.oae-modal li a:hover {
	color: #024a6a;
	text-decoration: none;
}

.oae-modal li a:active {
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: none;
}


/** These styles are unique to the overlay for creating something */

.oae-modal-create li {
	margin: 0 10px 0 0;
}

.oae-modal-create li:last-child {
	margin-right: 0;
}

.oae-modal-create li a {
	padding: 15px 10px;
}