

.oae-modal-edit-details {
	width: auto;
}

.oae-modal-edit-details .modal-body {
	overflow: visible;
}

.oae-modal-edit-details .modal-body input {
	margin-bottom: 20px;
}

.oae-modal-edit-details .modal-body textarea {
	height: 40px;
}

.oae-modal-edit-details .modal-body fieldset {
	margin-bottom: 7px;
}

.oae-modal-edit-details .oae-edit-group-visibility {
	display: block;
}

.oae-modal-edit-details .oae-edit-group-visibility h4 {
	font-size: 14rem;
	line-height: 16rem;
	margin-top: 20px;
}	

.oae-modal-edit-details .oae-edit-group-visibility li {
	font-size: 12rem;
	font-weight: 400;
	font-style: italic;
	line-height: 14rem;
	width: 120px;
	margin-right: 10px;
	padding-right: 20px;
}

.oae-modal-edit-details .oae-edit-group-visibility button.oae-selected {
	border: 3px solid #0074a7;
    background-color: #a1d3df;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #0074a7;
}

.oae-modal-edit-details .oae-edit-group-visibility .oae-icon-selected {
	color: #0074a7;
	margin: -8px 0 0 10px;
	position: absolute;
	display: block;
}

.oae-modal-edit-details .oae-edit-group-visibility span {
	clear: left;
	display: block;
	font-weight: 600;
}











