

.oae-modal-upload {
	width: auto;
}

.oae-modal-upload .modal-body button {
	margin-left: 10px;
}

.oae-modal-upload .modal-footer {
	clear: left;
}

.oae-modal-upload .oae-upload-area {
	padding: 40px 50px;
	margin: 0 0 20px 0;
	text-align: center;
}

.oae-modal-upload .oae-upload-area span {
	clear: left;
	display: block;
}

.oae-modal-upload .oae-upload-area button {
	margin: 5px 0 0 0;
}






