

.oae-modal-edit-details {
	width: auto;
}

.oae-modal-edit-details .modal-body {
	overflow: visible;
	width: auto;
}

.oae-modal-edit-details .modal-body {
	overflow: visible;
}

.oae-modal-edit-details .modal-footer {
	clear: left;
}




