

/** These styles are unique to the overlay for creating something */

.oae-modal-create li {
	margin: 0 10px 0 0;
}

.oae-modal-create li:last-child {
	margin-right: 0;
}

.oae-modal-create li a {
	padding: 15px 10px;
}