

.oae-modal-upload {
	width: auto;
}

.oae-modal-uploading .modal-body {
	overflow: visible;
	width: auto;
}

.oae-modal-uploading .modal-body {
	overflow: visible;
}

.oae-modal-uploading .modal-body i {
	margin: 0 0 0 0;
}

.oae-modal-uploading .modal-footer {
	clear: left;
}

.oae-modal-uploading .oae-file-name {
	margin: 2px 10px 0 10px;
}

.oae-modal-uploading .progress {
	margin-top: 2px;
}




