
/** This is the clip that houses the user's name and profile picture **/

/** This is the arrow that provides me with more profile management options **/

.oae-my-clip a h1 {
    background: url("../images/header-clip-down-arrow.png") no-repeat center right transparent;
    margin: 6px 10px 0 0;
    padding-right: 25px;
}

.oae-my-clip a h1:hover {
    background: url("../images/header-clip-down-arrow-hover.png") no-repeat center right transparent;
}

.oae-my-clip a h1:active {
    background: url("../images/header-clip-down-arrow-active.png") no-repeat center right transparent;
}

/** Option 1: Dropdown **/
/** Dropdown that list the things that are directly related to your profile in OAE **/

.oae-my-clip #my-dropdown {
  top: 70px;
  left: 65px;
  width: auto;
}

/** Option 2: Popover **/
/** Popover that list the things that are directly related to your profile in OAE **/

#oae-popover-my-clip {
  top: 370px;
  left: 65px;
  width: auto;
}
.oae-my-clip #my-dropdown .arrow,
#oae-popover-my-clip .arrow {
  left: 50%;
}
.oae-my-clip #my-dropdown ul,
#oae-popover-my-clip ul {
  margin: 15px 0 0 0;
}
.oae-my-clip #my-dropdown li,
#oae-popover-my-clip li {
  
}
.oae-my-clip #my-dropdown li a:hover,
#oae-popover-my-clip li a:hover {
  /*background: #fff;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 3px #888888;*/

}
.oae-my-clip #my-dropdown .edit-my-details,
#oae-popover-my-clip .edit-my-details {
  background: url("../images/icon-user-edit.png") no-repeat center 5px transparent;
  background-size: 50%;
}
.oae-my-clip #my-dropdown .edit-my-details:hover,
#oae-popover-my-clip .edit-my-details:hover {
  background: url("../images/icon-user-edit-hover.png") no-repeat center 5px transparent;
  background-size: 50%;
}
.oae-my-clip #my-dropdown .edit-my-details:active, 
#oae-popover-my-clip .edit-my-details:active {
  background: url("../images/icon-user-edit-active.png") no-repeat center 5px transparent;
  background-size: 50%;
}
.oae-my-clip #my-dropdown .messages,
#oae-popover-my-clip .messages {
  background: url("../images/icon-messages.png") no-repeat center 5px transparent;
  background-size: 48%;
}
.oae-my-clip #my-dropdown .messages:hover,
#oae-popover-my-clip .messages:hover {
  background: url("../images/icon-messages-hover.png") no-repeat center 5px transparent;
  background-size: 48%;
}
.oae-my-clip #my-dropdown .messages:active,
#oae-popover-my-clip .messages:active {
  background: url("../images/icon-messages-active.png") no-repeat center 5px transparent;
  background-size: 48%;
}
.oae-my-clip #my-dropdown .account-settings,
#oae-popover-my-clip .account-settings {
  background: url("../images/icon-user-settings.png") no-repeat center 5px transparent;
  background-size: 35%;
}
.oae-my-clip #my-dropdown .account-settings:hover,
#oae-popover-my-clip .account-settings:hover {
  background: url("../images/icon-user-settings-hover.png") no-repeat center 5px transparent;
  background-size: 35%;
}
.oae-my-clip #my-dropdown .account-settings:active,
#oae-popover-my-clip .account-settings:active {
  background: url("../images/icon-user-settings-active.png") no-repeat center 5px transparent;
  background-size: 35%;
}