
html {
    font-size: 6.25%;
    height: 100%;
    min-height: 100%;
}

body,
button,
input,
select,
textarea {
    color: #333;
    font-family: 'Open Sans', sans-serif; arial, helvetica, sans-serif;
    font-size: 16px;
    font-size: 16rem;
    line-height: 1.5;
    background-color: #eceae5;
}

h1 {
	font-size: 16rem;
}

a:focus {
    outline: none;
}

ul,
ol {
  margin: 0;
}
body, button, input, select, textarea {
    background-color: #efefef;
    font-size: 13rem;
}
.alert {
    font-size: 13rem;
    margin-bottom: 0;
}
.alert-success {
    background: #333;
    border: none;
    color: #dbdbdb;
    text-shadow: 0 1px #000;
}


.alert-success button {
    color: #fff;
    text-shadow: 0 1px #000;
}

.alert-info {
    color: #0074a7;
}

.btn {
    font-size: 12rem;
    font-weight: 600;
}