
/** Popovers when opening all clips that have a down arrow **/

/** Note: wasn't sure how to disable or override popover styles 
so I had to create the full list in this file and modify what I needed **/

.oae-popover {
    position: absolute;
    z-index: 1010;
    text-align: left;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(226,225,218,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,225,218,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,225,218,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(226,225,218,1) 100%); /* W3C */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    white-space: normal;
}

.oae-popover.top {
  margin-top: -10px;
}

.oae-popover.right {
  margin-left: 10px;
}

.oae-popover.bottom {
  margin-top: 10px;
}

.oae-popover.left {
  margin-left: -10px;
}

.oae-popover .arrow,
.oae-popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.oae-popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.oae-popover-content {
    padding-top: 20px;
}

.oae-popover-content ul {
    list-style: none;
    font-size: 12rem;
    color: #333;
    font-weight: 700;
}

.oae-popover-content li {
    float: left;
    margin: 10px;
} 

.oae-popover-content li a {
    color: #333;
    padding: 40px 5px 5px 5px;
}  

.oae-popover-content li a:hover {
    color: #777;
    text-decoration: none;
} 

.oae-popover-content li a:active {
    color: #999;
} 

.oae-popover .arrow {
  border-width: 11px;
}

.oae-popover .arrow:after {
  border-width: 10px;
  content: "";
}

.oae-popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}

.oae-popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}

.oae-popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.oae-popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.oae-popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  top: -11px;
}

.oae-popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}

.oae-popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.oae-popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}