
/** These are styles that are unique to Comment clip **/

.oae-clip-comment h1 {
  background: url("../images/icon-comment-clip.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-comment h1:hover {
  background: url("../images/icon-comment-clip-hover.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-comment h1:active {
  background: url("../images/icon-comment-clip-active.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-open.oae-clip-comment-open li:hover {
  background: #00415d;
  border-radius: 6px;
}
.oae-clip-open.oae-clip-comment-open li:active {
  background: #00415d;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(85,85,85,1) 0%, rgba(68,68,68,1) 25%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,85,85,1)), color-stop(25%,rgba(68,68,68,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(85,85,85,1) 0%,rgba(68,68,68,1) 25%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(85,85,85,1) 0%,rgba(68,68,68,1) 25%,rgba(0,0,0,1) 100%); /* W3C */
}

/** These are styles that are unique to the Share clip **/

.oae-clip-share h1,
.oae-clip-share-open h1 {
  background: url("../images/icon-share-clip.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-share h1:hover,
.oae-clip-share-open h1:hover {
  background: url("../images/icon-share-clip-hover.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-share h1:active,
.oae-clip-share-open h1:active {
  background: url("../images/icon-share-clip-active.png") no-repeat center left transparent;
  background-size: 40px 40px;
}

.oae-clip-share-open textarea {
  float: left;
  margin: 10px 10px 10px 0;
  font-size: 12rem;
}














