

/** These are styles that are unique to user clips **/

/** Option 2: Embedded dropdown **/
/** Dropdown that list the things that are directly related to your profile in OAE **/


.oae-clip-open-user .oae-edit-my-details {
  background: url("../images/icon-user-edit-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-edit-my-details:hover {
  background: url("../images/icon-user-edit-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-edit-my-details:active {
  background: url("../images/icon-user-edit-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-messages {
  background: url("../images/icon-messages-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-messages:hover {
  background: url("../images/icon-messages-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-messages:active {
  background: url("../images/icon-messages-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-account-settings {
  background: url("../images/icon-user-settings-white.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-account-settings:hover {
  background: url("../images/icon-user-settings-white-hover.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}

.oae-clip-open-user .oae-account-settings:active {
  background: url("../images/icon-user-settings-white-active.png") no-repeat center 5px transparent;
  background-size: 40px 40px;
}


/** Option 1: Popover **/
/** Popover that list the things that are directly related to your profile in OAE **/
/** These popover styles can probably be deleted as this option doesn't work as well **/

#oae-popover-my-clip {
  top: 370px;
  left: 65px;
  width: auto;
}

#oae-popover-my-clip .arrow {
  left: 50%;
}

#oae-popover-my-clip ul {
  margin: 15px 0 0 0;
}

#oae-popover-my-clip .edit-my-details {
  background: url("../images/icon-user-edit.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .edit-my-details:hover {
  background: url("../images/icon-user-edit-hover.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .edit-my-details:active {
  background: url("../images/icon-user-edit-active.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .messages {
  background: url("../images/icon-messages.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .messages:hover {
  background: url("../images/icon-messages-hover.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .messages:active {
  background: url("../images/icon-messages-active.png") no-repeat center 5px transparent;
  background-size: 30px 30px;;
}

#oae-popover-my-clip .account-settings {
  background: url("../images/icon-user-settings.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .account-settings:hover {
  background: url("../images/icon-user-settings-hover.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}

#oae-popover-my-clip .account-settings:active {
  background: url("../images/icon-user-settings-active.png") no-repeat center 5px transparent;
  background-size: 30px 30px;
}